* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h3 {
    color: white;
    font-size: 15px;
}

.flex {
    display: flex;
}
/* MAIN */

main {
    width: 100%;
    height: calc( 100vh - 70px);
    display: flex;
}

/* Side Bar */
.sidebar {
    width: 250px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
}

.logo {
    padding: 1rem;
    align-items: center;
    
}

.logo img {
    width: 65%;
}

.minilogo {
    display: none;
}

/* nav */

/* .nav {
    flex-grow: 1;
} */

.nav li {
    align-items: center;
    padding: 5px 17px;
}

.nav li:first-child {
    padding: 5px 14px;
}

.nav img {
    width: 25px;
}

.nav a {
    color: grey;
    font-size: 14px;
    padding-left: 10px;
}

.nav a:hover {
    color: white;
}

.home {
    border-left: 3px solid #adff2f;
}

.home a {
    color: white;
}


/* playlist */

.playlist {
    flex-direction: column;
}

.playlist h3 {
    padding: 15px 17px;
}

.create-playlist {
    align-items: center;
}

.create-playlist a:hover{
    color: white;
}

.create-playlist .addbox:hover {
    background-color: white;
}

.addbox {
    width: 40px;
    height: 40px;
    background-color: grey;
    margin-left: 17px;
    text-align: center;
}


.addbox i {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
}

.create-playlist a {
    color: grey;
    padding-left: 10px;
    font-weight: 500;
}


.play-ul ul {
    padding: 0 17px;
    padding-top: 17px;
    height: 95%;
    overflow-y: auto;
}

.play-ul li {
    padding: 5px 0;
    font-size: 12px;
}

.play-ul a {
    color: grey;
}

.play-ul a:hover{
    color: white;
}

/* user */
.user {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.download {
    align-items: center;
    margin: 0 14px;
    padding: 10px 0;
    width: 80%;
    border-bottom: 1px solid grey;
}

.download img {
    width: 15px;
    height: 15px;
    margin-right: 14px;
    
}

.download a {
    color: grey;
    font-size: 12px;
}

.download a:hover {
    color: white;
}

.user-info {
    margin: 0 14px;
    padding: 10px 0;
    align-items: center;
}

.profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
    margin-right: 10px;
}

.profile img {
    object-fit: contain;  
}

.user-info a {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

/* Upgrade Bar */

.upgrade-bar {
    height: 70px;
    width: calc( 100% - 250px);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.upgrade-bar a {
    color: white;
    font-size: 14px;
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 20px;
}

.upgrade-bar a:hover {
    transform: scale(1.1);
}

/* Main-Content */
.main {
    width: calc( 100% - 250px);
    padding-top: 70px;
    overflow-y: auto;
    background-color: #141922;
}

/* menu */

.menu ul {
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 0.5rem 0.75rem;
    text-transform: uppercase;
}

.menu a {
    font-size: 13px;
    color: grey;
}

.menu a:hover {
    color: white;
}

.special-li {
    position: relative;
}

.underline {
    height: 2px;
    width: 30px;
    background-color: #adff2f;
    position: absolute;
    top: 130%;
    right: calc( 50% - 15px);
}

/* Content */



.content {
    padding: 30px 20px;
}

.content h2 {
    color: white;
}

.col {
    width: calc( (100% / 6) - 0.75rem);
    padding-top: 30px;
    margin-right: 12px;
}

.card {
    text-align: center;
}

.cover {
    position: relative;
}

.play{
    font-size: 35px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.play a {
    color: white;
}

.card:hover img{
    filter: brightness(40%);
}

.card:hover .play {
    display: inline-block;
}

.text {
    padding-top: 10px;
}

.text h3 {
    padding: 5px 0;
}

.text span {
    font-size: 13px;
    color: grey;
}


/* Second Row, Third Row */
.second-row, .third-row {
    padding-top: 30px;
}

.second-row h2, .third-row h2 {
    padding: 5px 0;
}

.second-row span, .third-row span {
    font-size: 13px;
    color: grey;
}

.cover span, .cover span {
    font-size: 30px;
}

.rounded img{
    border-radius: 50%;
}

/* FOOTER */

footer {
    background-color: #282828;
    height: 70px;
}

.footercontent {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    overflow-y: hidden;
    height: 100%;
}

/* song */

.song {
    align-items: center;
    width: calc( 100% / 3 );
}

.song-img img{
    width: 40px;
}

.name {
    margin-left: 8px;
    line-height: 12px;
}

.name h4 {
    color: white;
    font-size: 12px;
}

.name span {
    color: grey;
    font-size: 10px;
}

.name span:hover {
    color: white;
    text-decoration: underline;
}

.song-icons i{
    color: grey;
    margin: 0 5px;
}

.song-icons i:hover {
    color: white;
}

.info {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* player */

.player {
    width: 100%;
    height: 100%;
}

.player-icons {
    justify-content: center;
    align-items: center;
}

.player-icons i {
    margin: 10px 5px;
    color: white;
}

.player-icons a:nth-last-child(3) {
    font-size: 25px;
}

.player-icons a:nth-last-child(3):hover {
    transform: scale(1.2);
}

.play-bar {
    justify-content: center;
    align-items: center;
}

.play-bar span {
    margin: 0 10px;
    color: white;
    font-size: 13px;
}

.bar {
    height: 4px;
    background-color: grey;
    width: 60%;
    position: relative;
}

.listen {
    height: 4px;
    width: 30%;
    background-color: white;
}

.bar:hover .listen {
    background-color: #adff2f;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: calc( 100% - 7px);
    left: 27%;
    display: none;
}

.bar:hover .circle{
    display: inline-block;
}

/* Audio Settings */

.settings {
    width: calc( 100% / 3);
    align-items: center;
    justify-content: flex-end;
}

.settings i {
    color: white;
    font-size: 13px;
    margin: 0 5px;
}

.settings .bar {
    margin-left: 5px;
}

/* --------------------------
        RESPONSIVE
----------------------------- */

/* md */

@media screen and ( max-width: 1100px ) {

    /* Main */
    .music {
        flex-wrap: wrap;
    }
    
    .col {
        width: calc(100% / 4 - 0.75rem);
    }
    
}

/* s */

@media screen and ( max-width: 700px ) {

    /* Main */
    .music {
        flex-wrap: wrap;
    }
    
    .col {
        width: calc(100% / 2 - 0.75rem);
    }
    
}

/* sx */

@media screen and ( max-width: 600px ) {
    
    /* SIDEBAR */
    
    /* Logo */
    .sidebar {
        width: 40px;
    }

    .logo {
        display: none;
    }

    .minilogo {
        display: block;
        padding: 7px;
        align-items: center;
    }

    /* Nav */

    .home {
        border: none;
    }

    .nav li, .nav li:first-child{
        padding: 5px 0;
        justify-content: center;
    }
    
    .nav img {
        width: 22px;
    }

    .nav a {
        display: none;
    }

    /* Playlist */

    .create-playlist, .play-ul, .playlist h3{
        display: none;
    }

    /* User */
    
    .user {
        align-items: center;
    }

    .download {
        border: none;
        align-content: center;
    }
    
    .download a, .user-info a{
        display: none;
    }

    .user-info, .download {
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .download img, .profile {
        margin: 0;
    }


    .user-info {
        align-items: center;
        justify-content: center;
    }

    /* UPGRADE BAR */
    .upgrade-bar {
        width: calc( 100% - 40px);
    }

    /* MAIN */
    .main {
        width: calc(100% - 40px);
    }
}